#red-herring {
	color: red;
}
#orange-sherbert {
	color: orange;
}
#yellow-zest {
	color: yellow;
}
#green-apple {
	color: green;
}

.navigation {
	list-style: none;
}
.navigation-link {
	font-size: large;
}
#bold-text {
	font-weight: bold;
}
.color-blue {
	color: #504faf;
}
#background-red {
	background-color: red;
}#large-border {
	padding: 1em 2em 1em 2em;
}
.break-border {
	padding-top: 2em;
}
#background-green {
	background-color: green;
}#red-border {
	border: 1px solid #e12727;
}.small-margin {
	margin: 1em;
}
#center-title {
	margin: auto;
	width: 300px;
}